// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: #E5E5E5 !important;
}

// .body-drip {
//   border-top: 8px solid #663399;
// }

// // Header
// // ------

// .header {
//   background: $header-background;
//   padding: 20px;
//   margin-bottom: 20px !important;

//   &__columns {
//     padding-bottom: 0 !important;
//   }

//   &__wrapper-inner {
//     padding: 10px 15px;
//   }

//   &__container {
//     background-color: transparent !important;
//   }

//   &__logo {
//     max-width: 260px;
//     width: 100%;
//   }
// }

// // Container
// // ---------

// .container {
//   background-color: #fff;

//   &_transp {
//     background-color: transparent;
//   }
// }

// // Main-content
// table.main-container {
//   margin-top: 20px;
// }

// // Footer
// // ------

// .footer {
//   margin-top: 20px !important;
// }

// .footer-text {
//   font-size: 13px;
// }

// // Buttons
// table.button {
//   &.footer-button {
//     display: inline-block;

//     table {
//       td {
//         a {
//           width: 100px;
//           padding-left: 0;
//           padding-right: 0;
//           font-size: 12px;
//           text-align: center;
//           color: #333;
//         }
//       }
//     }

//     &:hover {
//       table {
//         td {
//           a {
//             color: #333;
//           }
//         }
//       }
//     }
//   }

//   &.footer-button-white {
//     table {
//       td {
//         background-color: #fff;
//       }
//     }
//   }

//   &.footer-button-grey {
//     table {
//       td {
//         background-color: #ccc;
//       }
//     }
//   }
// }

// // Columns
// th,
// td {
//   .footer-columns {
//     padding-bottom: 0;
//   }
// }

// .wrapper.secondary {
//   background: #f3f3f3;
// }
//new custom
$font-helvetica: Helvetica, sans-serif;
$font-times: 'Times New Roman', sans-serif;
$color-white: #ffffff;
$color-dark-blue: #23333C;
$color-blue: #195374;
$color-neon-blue: #2D4EA4;
$color-light-blue: #297098;
$color-heaven: #D4EDF4;
$color-footer: #E7F2FF;
$color-yellow: #FFD99F;
$color-orange: #CF8642;
$color-green: #337E0F;
$color-red: #D1262F;
$color-pink: #A21AC4;
$color-grey: #8793A5;
$size-24: 24px;
$size-20: 20px;
$size-16: 16px;
$size-12: 12px;
$size-10: 10px;

body,
table.body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
td,
th,
a {
  font-family: $font-times !important;
  font-size: $size-16;
  font-weight: 400;
  font-style: normal;
  color: $color-dark-blue;
  line-height: 1.5;
}
.spacer,
.spacer * {
  background-color: inherit;
}
.container-body {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  background-color: $color-white;
}
.container {
  background-color: $color-white;

  &._bg {
    background-image: url(https://pravit.ru/freelance/merck_3/assets/img/bg-royal.png);
    background-repeat: repeat;
  }
  .row {
    &:not(.collapse) {
      .columns {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
}
img {
  width: 100% !important;

  &.line {
    max-width: 337px;
  }
  &.flag {
    max-width: 73px;
  }
}
p {
  margin: 0 !important;
  margin-bottom: 0 !important;
}
a.not-link {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
}
.text {
  &._comma {
    font-size: 100px;
    font-weight: normal;
  }
  &._lg {
    font-size: $size-24;
    font-weight: 700;
  }
  &._md {
    font-size: $size-20;
    line-height: 1.3;
    font-weight: bold;
  }
  &._sm {
    font-size: $size-12;
    color: $color-grey;
    font-family: $font-helvetica !important;
  }
  &._small {
    font-size: $size-10;
    font-family: $font-helvetica !important;
    color: $color-grey;
  }
  &-transform {
    text-transform: uppercase;
  }
  &-white {
    color: $color-white;
  }
  &-bold {
    font-weight: bold;
  }
  &-link {
    font-size: inherit !important;
    text-decoration: underline;
    color: inherit !important;
  }
  &-pink {
    color: $color-pink;
  }
  &-red {
    color: $color-red;
  }
  &-green {
    color: $color-green;
  }
  &-neon-blue {
    color: $color-neon-blue;
  }
  &-blue {
    color: $color-blue;
  }
  &-grey {
    color: $color-grey;
  }
}
.text-margin + .text-margin {
  margin-top: 10px !important;
}
.item-center {
  margin: 0 auto !important;
}
center {
  text-align: center;
}
.item-inline {
  text-align: center;

  & > div {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 20px;

    &:first-child {
      padding-right: 20px;
    }
  }
}
.item-radius {
  border-radius: 20px;
  padding: 16px;
  border: 1px solid $color-orange;

  &._white {
    background-color: $color-white;
  }
  &._yellow {
    background: $color-yellow;
  }
}
.item-information {
  background-color: $color-white;
  border: 1px solid #CCCCCC;
  padding: 16px;
}
table.table {
  vertical-align: top;

  td {
    padding: 1%;
  }

  &.table-left {
    tr > td:first-child {
      width: 81px;
    }
  }
  &.table-right {
    tr > td:last-child {
      width: 81px;
    }
  }
}
table.list {
  vertical-align: middle;
  td {
    padding: 2%;
    padding-bottom: 15px;
    vertical-align: middle;
  }
  tr > td:first-child {
    width: 36px;
  }
  p {
    line-height: 1 !important;
  }
  img {
    margin-top: 2px;
  }
}
#logo {
  max-width: 176px;
}
.section-1 {
  background-color: $color-heaven;
}
.section-3 {
  .item-inline {
    &>div:first-child {
      max-width: 353px;
    }
  }
}
.section-4 {
  .item-paper {
    background-color: $color-yellow;
    padding-left: 14px;
    padding-right: 14px;

    .item-inline {
      &>div:first-child {
        max-width: 184px;
      }
      &>div:last-child {
        max-width: 286px;
      }
    }

    table.table {
      &.table-left {
        tr > td:first-child {
          width: 42px;
        }
      }
    }
  }
}
.section-7 {
  .item-inline {
    &>div:first-child {
      max-width: 163px;
    }
    &>div:last-child {
      max-width: 284px;
    }
  }
}
.section-8 {
  .item-inline {
    &>div:first-child {
      max-width: 277px;
    }
    &>div:last-child {
      max-width: 205px;
    }
  }
}
.section-9 {
  .item-inline {
    &>div:first-child {
      max-width: 154px;
    }
    &>div:last-child {
      max-width: 327px;
    }
  }
}
.section-12 {
  .item-inline {
    &>div:first-child {
      max-width: 237px;
    }
    &>div:last-child {
      max-width: 256px;
    }
  }
}
.section-14 {
  background-color: $color-light-blue;
  .item-inline {
    &>div:first-child {
      max-width: 295px;
    }
    &>div:last-child {
      max-width: 260px;
    }
  }
}
.section-15 {
  background-color: $color-footer;

  p {
    font-family: $font-helvetica !important;
  }
}