
<container style="background-color: #0b7ab5;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">

    <spacer size="30"></spacer>
    <row>
        <center>
        <columns large="4" style="vertical-align: top; display: inline-block;max-width: 150px; width: auto;">
            <a href="http://client.doktornarabote.ru/">
                <img src="https://files.doktornarabote.ru/clients/email/doctorlogo1500white.png" alt="" width="150" border="0" style="border:0; outline:none; text-decoration:none; display:block;max-width: 150px; width: 100%;">
            </a>
        </columns>
        <columns large="4" style="vertical-align: top; display: inline-block;max-width: 190px; width: auto;">
            <p class="text-rpaheader" style="font-weight: bolder; color: #ffa337;">
                ВСЁ О НАС
            </p>
            <p class="text-rpaheader">
                <a style="color: #ffffff;display:block;text-decoration: underline;" href="http://client.doktornarabote.ru/mediakit" class="white-link">Медиакит</a>
            </p>
            <p class="text-rpaheader">
                <a style="color: #ffffff;display:block;text-decoration: underline;"  href="http://client.doktornarabote.ru/strategy" class="white-link">Стратегии</a>
            </p>
            <p class="text-rpaheader">
                <a style="color: #ffffff;display:block;text-decoration: underline;"  href="http://client.doktornarabote.ru/mediakit_smartpharma" class="white-link">Медиакит (Смартфарма)</a>
            </p>
        </columns>
        <columns large="4" style="vertical-align: top; display: inline-block;max-width: 170px; width: auto;">
            <p class="text-rpaheader" style="font-weight: bolder; color:#ffa337; vertical-align: top;">
                ВСЁ ПРО НАШИХ ВРАЧЕЙ
            </p>
            <p class="text-rpaheader">
                <a style="color: #ffffff;display:inline-block;text-decoration: underline;padding-bottom: 10px"  href="http://client.doktornarabote.ru/check_doctors" class="white-link">Как мы проверяем врачей?</a>
            </p>
        </columns>
        </center>
    </row>
    <row>
        <columns large="12">
            <spacer size="20"></spacer>
            <p class="text-footer" style="color: #ffffff">
                Если Вы&#160;считаете, что получили это письмо по&#160;ошибке, пожалуйста, нажмите
                <a id="linkUnsub" href="[%%20param.url_unsub%20%]" target="_blank" style="color: #ffffff;display:inline-block;text-decoration: underline;">
                    отписаться.
                </a>
            </p>
            <p class="text-footer" style="color: #ffffff">
                © 2018 Доктор на работе
            </p>

        </columns>
    </row>
</container>
<spacer size="30"></spacer>