<container style="background-color: #0b7ab5;">
    <center>
        <menu>
            <item href="http://client.doktornarabote.ru/?fromemailmenu=1" target="_blank" class="dnr_menu_item small-float-center">Сайт для клиентов</item>
            <item href="http://client.doktornarabote.ru/mediakit?fromemailmenu=1" target="_blank" class="dnr_menu_item small-float-center">Медиакит</item>
            <item href="http://client.doktornarabote.ru/strategy?fromemailmenu=1" target="_blank" class="dnr_menu_item small-float-center">Стратегии</item>
            <item href="http://client.doktornarabote.ru/kpi?fromemailmenu=1" target="_blank" class="dnr_menu_item small-float-center">KPI</item>
        </menu>
    </center>

</container>