<container>
    <row>
        <columns small="12" large="1">
            <img class="small-float-center large-float-center" src="https://files.doktornarabote.ru/clients/email/di.mahmutova.png" alt="Динара Махмутова">
        </columns>
        <columns small="12" large="8">
            <p class="small-text-center">Динара Махмутова
                <br>
                Старший менеджер по работе с клиентами
            </p>
            <p class="small-text-center"><a href="mailto:d.makhmutova@doktornarabote.ru">Написать мне</a></p>
            <spacer size="20"></spacer>
        </columns>
    </row>
</container>