<container>
    <row>
        <columns small="12" large="1">
            <img class="small-float-center large-float-center" src="https://files.doktornarabote.ru/clients/email/alexander1.png" alt="Александр Николаев">
        </columns>
        <columns small="12" large="8">
            <p class="small-text-center">
                С наилучшими пожеланиями,
                <br>
                Александр Николаев
                <br>
                Руководитель направления по работе с клиентами
            </p>
            <p class="small-text-center"><a href="mailto:a.nikolaev@doktornarabote.ru ">Написать мне</a></p>
            <spacer size="20"></spacer>
        </columns>
    </row>
</container>