<container>
    <row>
        <columns small="12" large="1">
            <img class="small-float-center large-float-center" src="https://files.doktornarabote.ru/clients/email/m.zinovyeva.png" alt="Мария Зиновьева">
        </columns>
        <columns small="12" large="8">
            <p class="small-text-center">Мария Зиновьева
                <br>
                Менеджер по работе с ключевыми клиентами
            </p>
            <p class="small-text-center"><a href="mailto:m.zinovyeva@doktornarabote.ru">Написать мне</a></p>
            <spacer size="20"></spacer>
        </columns>
    </row>
</container>