<spacer size="60"></spacer>
<container style="background-color: transparent;">
    <row>
        <columns small="12" large="12">
            <spacer size="20"></spacer>
            <center>
                <img class="small-float-center large-float-center" src="https://files.doktornarabote.ru/clients/email/e5e4acc6-3d15-4ceb-8.png" alt="Ксения Абрамчева"></center>
            <spacer size="20"></spacer>
            <p class="text-center">
                Ксения Абрамчева
                <br>
                Директор по новому бизнесу
                <br>
                "Доктор на работе"
            </p>
            <p class="text-center">
                <a href="tel:+7 985 215 02 48">
                    +7 (985) 215 02 48
                </a>
            </p>
            <spacer size="10"></spacer>
            <p class="text-center"><a href="mailto:k.abramcheva@doktornarabote.ru">Написать мне</a></p>
    </row>
</container>