<container>
    <row>
        <columns large="12">
            <spacer size="10"></spacer>
            <center>
            <div class="color-grey"></div>
            </center>
        </columns>
    </row>
    <row >
        <columns large="12">
            <spacer size="10"></spacer>
            <center><img class="small-float-center large-float-center" class="avatar" src="https://files.doktornarabote.ru/clients/email/podnebesnova.png" alt="Мария Зиновьева" style="width: 120px;"></center>
            <spacer size="10"></spacer>
            <p class="text-center">Клавдия Поднебеснова<br>Куратор премии
            </p>
            <p class="text-center">
                <a href="tel:+7 962 984 34 56" class="linkContact">
                    +7 962 984 34 56
                </a>
            </p>
            <spacer size="10"></spacer>
            <p class="text-center"><a href="mailto:k.podnebesnova@doktornarabote.ru" class="linkContact">Написать мне</a></p>
        </columns>
    </row>
</container>