<container>
    <row>
        <columns large="12">
            <spacer size="10"></spacer>
            <center>
            <div class="color-grey"></div>
            </center>
        </columns>
    </row>
    <row >
        <columns large="12">
            <spacer size="10"></spacer>
            <center><img class="small-float-center large-float-center" src="https://files.doktornarabote.ru/Anastasiya/Mails/event/avatarZukova.png" alt="Яна Жукова" style="width: 120px;"></center>
            <spacer size="10"></spacer>
            <p class="text-center">Яна Жукова<br>Куратор мероприятия
            </p>
            <p class="text-center">
                <a href="tel:+7 962 984 34 56" class="linkContact">
                    +7 (916) 127 64 77
                </a>
            </p>
            <spacer size="10"></spacer>
            <p class="text-center"><a href="mailto:y.zhukova@doktornarabote.ru" class="linkContact">Написать мне</a></p>
        </columns>
    </row>
</container>