
<container>
    <row>
        <columns small="12" large="12">
            <spacer size="20"></spacer>
            <center><img class="small-float-center large-float-center" src="https://files.doktornarabote.ru/clients/email/n_sorokina.jpg" alt="Мария Зиновьева"></center>
            <spacer size="10"></spacer>
            <p class="text-center">Наталья Сорокина
                <br>
                Куратор премии
            </p>
            <spacer size="10"></spacer>
            <p class="text-center"><a href="mailto:n.sorokina@doktornarabote.ru">Написать мне</a></p>
    </row>
</container>